# Tarefas Módulo 4
- Nome: Cícero Henrique dos Santos
- Data: 03/02/2022

# SQLite

------
## Exercício 1
Criar uma tabela dados_cadastrais onde cada linha representa um funcionário e com os seguintes atributos: Id, nome, sobrenome, data_nasci, cpf e endereco; Criar uma tabela dados_profissionais com id, graduacao, cargo, salario e tempo_casa. Insira 4 registros em cada uma das tabelas.

Tabela: dados cadastrais
- [(1,'maria', 'silva', 12/04/1977, 11111211313, 'Rua 1 - SP',),
- (2,'joao','silva', 12/04/1984, 11111211889,'Rua 2 - SP'),
- (3,'pedro','pereira', 12/04/1987, 11111211786,'Rua 8 - SP'),
- (4,'paulo','ribeiro', 12/04/1983, 11111211123,'Rua 9 - SP')]

- Obs.: 1. Faltou dados de data de nascimento. 2. dados de cpf invertido com endereço.

Tabela: dados profissionais
- [(1,'matematica', 'professor', 3500.89, 3),
- (2,'geografia', 'orientador', 2850.8, 1),
- (3,'historia', 'orientador', 3200.45, 1),
- (4,'física', 'professor', 1890.33, 2)]

In [65]:
# Importa biblioteca SQLite para manipulação de comandos SQL
import sqlite3

#Cria um banco de dados e estabelece conecção com o mesmo
conn = sqlite3.connect("db_tarefa4")

#Variavel para utilizar comando SQL
cursor = conn.cursor()

In [66]:
#Cria tabela de dados cadastrais
cursor.execute("CREATE TABLE dados_cadastrais (id integer, nome text, sobrenome text, data_nasci text, cpf text, endereco text)")

OperationalError: table dados_cadastrais already exists

In [67]:
#Cria tabela de dados profissionais
cursor.execute("CREATE TABLE dados_profissionais (id integer, graduacao text, cargo text, salario integer, tempo_casa integer)")

OperationalError: table dados_profissionais already exists

In [68]:
#Verificar se as tabeças foram criadas
cursor.execute("SELECT name FROM sqlite_master WHERE TYPE= 'table'")
cursor.fetchall()

[('dados_cadastrais',), ('dados_profissionais',)]

In [69]:
#Insere dados na tabela dados_cadastrais
cursor.execute("INSERT INTO dados_cadastrais VALUES(1,'maria', 'silva', '12/04/1977', '11111211313', 'Rua 1 - SP')") 
cursor.execute("INSERT INTO dados_cadastrais VALUES(2,'joao','silva', '12/04/1984', '11111211889','Rua 2 - SP')") 
cursor.execute("INSERT INTO dados_cadastrais VALUES(3,'pedro','pereira', '12/04/1987', '11111211786','Rua 8 - SP')") 
cursor.execute("INSERT INTO dados_cadastrais VALUES(4,'paulo','ribeiro', '12/04/1983', '11111211123','Rua 9 - SP')") 

conn.commit()

In [70]:
cursor.execute("SELECT * FROM dados_cadastrais")
cursor.fetchall()

[(1, 'maria', 'silva', '12/04/1977', '11111211313', 'Rua 1 - SP'),
 (2, 'joao', 'silva', '12/04/1984', '11111211889', 'Rua 2 - SP'),
 (3, 'pedro', 'pereira', '12/04/1987', '11111211786', 'Rua 8 - SP'),
 (4, 'paulo', 'ribeiro', '12/04/1983', '11111211123', 'Rua 9 - SP'),
 (1, 'maria', 'silva', '12/04/1977', '11111211313', 'Rua 1 - SP'),
 (2, 'joao', 'silva', '12/04/1984', '11111211889', 'Rua 2 - SP'),
 (3, 'pedro', 'pereira', '12/04/1987', '11111211786', 'Rua 8 - SP'),
 (4, 'paulo', 'ribeiro', '12/04/1983', '11111211123', 'Rua 9 - SP')]

In [71]:
#Insere dados na tabela dados_cadastrais
cursor.execute("INSERT INTO dados_profissionais VALUES(1,'matematica', 'professor', 3500.89, 3)") 
cursor.execute("INSERT INTO dados_profissionais VALUES(2,'geografia', 'orientador', 2850.8, 1)") 
cursor.execute("INSERT INTO dados_profissionais VALUES(3,'historia', 'orientador', 3200.45, 1)") 
cursor.execute("INSERT INTO dados_profissionais VALUES(4,'física', 'professor', 1890.33, 2)") 

conn.commit()

In [72]:
cursor.execute("SELECT * FROM dados_profissionais")
cursor.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1),
 (4, 'física', 'professor', 1890.33, 2),
 (1, 'matematica', 'professor', 3500.89, 3),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1),
 (4, 'física', 'professor', 1890.33, 2)]

------
## Exercício 2
Usando a tabela dados profissionais, escreva uma query que retorne todos os campos da tabela ordenando-os pela coluna tempo de casa, de maneira decrescente.

In [73]:
cursor.execute("SELECT * FROM dados_profissionais ORDER BY tempo_casa DESC")
cursor.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (1, 'matematica', 'professor', 3500.89, 3),
 (4, 'física', 'professor', 1890.33, 2),
 (4, 'física', 'professor', 1890.33, 2),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1)]

------
## Exercício 3
Conte a quantidade de funcionários dessa empresa.

In [74]:
cursor.execute("SELECT COUNT(*) FROM dados_profissionais")
cursor.fetchall()

[(8,)]

------
## Exercício 4
Usando a tabela dados cadastrais, escreva uma query que liste apenas os funcionários que possuem sobrenome "silva", ordenados pelo nome completo, ou seja, nome e sobrenome.

In [75]:
cursor.execute("SELECT * FROM dados_cadastrais WHERE sobrenome='silva' ORDER BY nome AND sobrenome")
cursor.fetchall()

[(1, 'maria', 'silva', '12/04/1977', '11111211313', 'Rua 1 - SP'),
 (2, 'joao', 'silva', '12/04/1984', '11111211889', 'Rua 2 - SP'),
 (1, 'maria', 'silva', '12/04/1977', '11111211313', 'Rua 1 - SP'),
 (2, 'joao', 'silva', '12/04/1984', '11111211889', 'Rua 2 - SP')]

------
## Exercício 5
Escreva uma query que liste o valor da folha de pagamento dessa empresa por cargo, usando a tabela dados_profissionais. (Ou seja, somar os salários em cada cargo).

In [76]:
cursor.execute("SELECT SUM(salario), cargo FROM dados_profissionais GROUP BY cargo" )
cursor.fetchall()

[(12102.5, 'orientador'), (10782.439999999999, 'professor')]

------
# MongoDB

------
## Exercício 1
Criar uma tabela dados_cadastrais onde cada linha representa um funcionário e com os seguintes atributos: Id, nome, sobrenome, data_nasci, cpf e endereco; Criar uma tabela dados_profissionais com id, graduacao, cargo, salario e tempo_casa. Insira 4 registros em cada uma das tabelas.

Tabela: dados cadastrais
- [(1,'maria', 'silva', 12/04/1977, 11111211313, 'Rua 1 - SP',),
- (2,'joao','silva', 12/04/1984, 11111211889,'Rua 2 - SP'),
- (3,'pedro','pereira', 12/04/1987, 11111211786,'Rua 8 - SP'),
- (4,'paulo','ribeiro', 12/04/1983, 11111211123,'Rua 9 - SP')]

- Obs.: 1. Faltou dados de data de nascimento. 2. dados de cpf invertido com endereço.

Tabela: dados profissionais
- [(1,'matematica', 'professor', 3500.89, 3),
- (2,'geografia', 'orientador', 2850.8, 1),
- (3,'historia', 'orientador', 3200.45, 1),
- (4,'física', 'professor', 1890.33, 2)]

In [77]:
#Obs.: Antes de continuar com as atividades abaixo, certifique-se de que o MongoDB está instalado.
#Download MongoDB: https://www.mongodb.com/try/download/community
# Instalando bibliotea externa
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\elisa\appdata\local\programs\python\python39\lib\site-packages (4.0.1)

In [78]:
#Importando biblioteca
import pymongo

# Criando conexão com o MongoDB
client1 = pymongo.MongoClient()

In [79]:
#Criando Banco de dados com MongoDB
banco_dados_mongo = client1['db_tarefa4_mongo']

In [80]:
#Criando as coleções(tabelas)
colecao_dados_cadastrais = banco_dados_mongo['dados_cadastrais']
colecao_dados_profissionais = banco_dados_mongo['dados_profissionais']

In [81]:
# Inserindo dados a coleção colecao_dados_cadastrais
dados_cad1 = {'id':1,'nome':'maria','sobrenome':'silva','data_nascimento':'12/04/1917','cpf':'11111211313','endereco':'Rua 1 - SP'}
dados_cad2 = {'id':2,'nome':'joao','sobrenome':'silva','data_nascimento':'12/04/1984','cpf':'11111211889','endereco':'Rua 2 - SP'}
dados_cad3 = {'id':3,'nome':'pedro','sobrenome':'pereira','data_nascimento':'12/04/1987','cpf':'11111211786','endereco':'Rua 8 - SP'}
dados_cad4 = {'id':4,'nome':'paulo','sobrenome':'ribeiro','data_nascimento':'12/04/1983','cpf':'11111211123','endereco':'Rua 9 - SP'}

In [82]:
colecao_dados_cadastrais.insert_many([dados_cad1,dados_cad2,dados_cad3,dados_cad4])

In [83]:
# Inserindo dados a coleção colecao_dados_profissionais
dados_prof1 = {'id':1,'graduacao':'matematica','cargo':'professor','salario':3500.89,'tempo_casa':3}
dados_prof2 = {'id':1,'graduacao':'geografia','cargo':'orientador','salario':2850.8,'tempo_casa':1}
dados_prof3 = {'id':1,'graduacao':'historia','cargo':'orientador','salario':3200.45,'tempo_casa':1}
dados_prof4 = {'id':1,'graduacao':'física','cargo':'professor','salario':1890.33,'tempo_casa':2}

In [84]:
colecao_dados_profissionais.insert_many([dados_prof1,dados_prof2,dados_prof3,dados_prof4])

In [85]:
#Visualizando os bancos de dados existentes
client1.list_database_names()

['admin', 'config', 'db_tarefa4_mongo', 'local']

In [86]:
banco_dados_mongo.list_collection_names()

['dados_profissionais', 'dados_cadastrais']

------
## Exercício 2
Usando a tabela dados profissionais, escreva uma query que retorne todos os campos da tabela ordenando-os pela coluna tempo de casa, de maneira decrescente.

In [107]:
for elemento in colecao_dados_profissionais.find().sort("tempo_casa", pymongo.DESCENDING):
    print(elemento)

{'_id': ObjectId('61ffcaeb414d86929a4bbd4c'), 'id': 1, 'graduacao': 'matematica', 'cargo': 'professor', 'salario': 3500.89, 'tempo_casa': 3}
{'_id': ObjectId('61ffd2fc414d86929a4bbd55'), 'id': 1, 'graduacao': 'matematica', 'cargo': 'professor', 'salario': 3500.89, 'tempo_casa': 3}
{'_id': ObjectId('61ffcaeb414d86929a4bbd4f'), 'id': 1, 'graduacao': 'física', 'cargo': 'professor', 'salario': 1890.33, 'tempo_casa': 2}
{'_id': ObjectId('61ffd2fc414d86929a4bbd58'), 'id': 1, 'graduacao': 'física', 'cargo': 'professor', 'salario': 1890.33, 'tempo_casa': 2}
{'_id': ObjectId('61ffcaeb414d86929a4bbd4d'), 'id': 1, 'graduacao': 'geografia', 'cargo': 'orientador', 'salario': 2850.8, 'tempo_casa': 1}
{'_id': ObjectId('61ffcaeb414d86929a4bbd4e'), 'id': 1, 'graduacao': 'historia', 'cargo': 'orientador', 'salario': 3200.45, 'tempo_casa': 1}
{'_id': ObjectId('61ffd2fc414d86929a4bbd56'), 'id': 1, 'graduacao': 'geografia', 'cargo': 'orientador', 'salario': 2850.8, 'tempo_casa': 1}
{'_id': ObjectId('61ffd2fc414d86929a4bbd57'), 'id': 1, 'graduacao': 'historia', 'cargo': 'orientador', 'salario': 3200.45, 'tempo_casa': 1}

------
## Exercício 3
Conte a quantidade de funcionários dessa empresa;

In [116]:
colecao_dados_profissionais.count_documents({})

4

------
## Exercício 4
Usando a tabela dados cadastrais, escreva uma query que liste apenas os funcionários que possuem sobrenome "silva", ordenados pelo nome completo, ou seja, nome e sobrenome.

In [140]:
for elemento in colecao_dados_cadastrais.find({'sobrenome':'silva'}).sort([('nome', pymongo.DESCENDING),
                                                                           ('sobrenome', pymongo.DESCENDING)]):
    print(elemento)

{'_id': ObjectId('61ffc8dc414d86929a4bbd48'), 'id': 1, 'nome': 'maria', 'sobrenome': 'silva', 'data_nascimento': '12/04/1917', 'cpf': '11111211313', 'endereco': 'Rua 1 - SP'}
{'_id': ObjectId('61ffd2fa414d86929a4bbd51'), 'id': 1, 'nome': 'maria', 'sobrenome': 'silva', 'data_nascimento': '12/04/1917', 'cpf': '11111211313', 'endereco': 'Rua 1 - SP'}
{'_id': ObjectId('61ffc8dc414d86929a4bbd49'), 'id': 2, 'nome': 'joao', 'sobrenome': 'silva', 'data_nascimento': '12/04/1984', 'cpf': '11111211889', 'endereco': 'Rua 2 - SP'}
{'_id': ObjectId('61ffd2fa414d86929a4bbd52'), 'id': 2, 'nome': 'joao', 'sobrenome': 'silva', 'data_nascimento': '12/04/1984', 'cpf': '11111211889', 'endereco': 'Rua 2 - SP'}

------
## Exercício 5
Escreva uma query que liste o valor da folha de pagamento dessa empresa por cargo, usando a tabela dados_profissionais. (Ou seja, somar os salários em cada cargo).

Obs: Devido não conseguir realizar a tarefa 5 pelo pymongo, desenvolvi a atividade diretamente pelo MongoDB Compass. Segue imagem abaixo.

"""
from bson.son import SON
pipeline = [{'$group': {
    "_id": "$cargo",
    "salario": {"$sum": "$salario"}}}]

import pprint
pprint.pprint(list(banco_dados_mongo.colecao_dados_profissionais.aggregate(pipeline)))
#Documentaçao de apoio: https://pymongo.readthedocs.io/en/stable/examples/aggregation.html
"""

#Documentaçao de apoio: https://docs.mongodb.com/manual/reference/operator/aggregation/group/#pipe._S_group
![tarefa4_ex5_com_mongodb](https://drive.google.com/file/d/1Xbq_GIpWhPMBEHUEtbWuacCeJkb7Mq3z/view?usp=sharing)
Link da imagem do exercício concluído: https://drive.google.com/file/d/1Xbq_GIpWhPMBEHUEtbWuacCeJkb7Mq3z/view?usp=sharing