# Tarefas Módulo 4
- Nome: Cícero Henrique dos Santos
- Data: 03/02/2022

------
# Exercício 1
Criar uma tabela dados_cadastrais onde cada linha representa um funcionário e com os seguintes atributos: Id, nome, sobrenome, data_nasci, cpf e endereco; Criar uma tabela dados_profissionais com id, graduacao, cargo, salario e tempo_casa. Insira 4 registros em cada uma das tabelas.

Tabela: dados cadastrais
- [(1,'maria', 'silva', 12/04/1977, 11111211313, 'Rua 1 - SP',),
- (2,'joao','silva', 12/04/1984, 11111211889,'Rua 2 - SP'),
- (3,'pedro','pereira', 12/04/1987, 11111211786,'Rua 8 - SP'),
- (4,'paulo','ribeiro', 12/04/1983, 11111211123,'Rua 9 - SP')]

- Obs.: 1. Faltou dados de data de nascimento. 2. dados de cpf invertido com endereço.

Tabela: dados profissionais
- [(1,'matematica', 'professor', 3500.89, 3),
- (2,'geografia', 'orientador', 2850.8, 1),
- (3,'historia', 'orientador', 3200.45, 1),
- (4,'física', 'professor', 1890.33, 2)]

In [9]:
# Importa biblioteca SQLite para manipulação de comandos SQL
import sqlite3

#Cria um banco de dados e estabelece conecção com o mesmo
conn = sqlite3.connect("db_tarefa4")

#Variavel para utilizar comando SQL
cursor = conn.cursor()

In [11]:
#Cria tabela de dados cadastrais
cursor.execute("CREATE OR REPLACE TABLE dados_cadastrais (id integer, nome text, sobrenome text, data_nasci text, cpf text, endereco text)")

OperationalError: near "OR": syntax error

In [ ]:
#Cria tabela de dados profissionais
cursor.execute("CREATE TABLE dados_profissionais (id integer, graduacao text, cargo text, salario integer, tempo_casa integer)")

In [ ]:
#Verificar se as tabeças foram criadas
cursor.execute("SELECT name FROM sqlite_master WHERE TYPE= 'table'")
cursor.fetchall()

In [ ]:
#Insere dados na tabela dados_cadastrais
cursor.execute("INSERT INTO dados_cadastrais VALUES(1,'maria', 'silva', 12/04/1977, 11111211313, 'Rua 1 - SP')") 
cursor.execute("INSERT INTO dados_cadastrais VALUES(2,'joao','silva', 12/04/1984, 11111211889,'Rua 2 - SP')") 
cursor.execute("INSERT INTO dados_cadastrais VALUES(3,'pedro','pereira', 12/04/1987, 11111211786,'Rua 8 - SP')") 
cursor.execute("INSERT INTO dados_cadastrais VALUES(4,'paulo','ribeiro', 12/04/1983, 11111211123,'Rua 9 - SP')") 

conn.commit()

In [ ]:
cursor.execute("SELECT * FROM dados_cadastrais"'")
cursor.fetchall()

In [ ]:
#Insere dados na tabela dados_cadastrais
cursor.execute("INSERT INTO dados_profissionais VALUES(1,'matematica', 'professor', 3500.89, 3)") 
cursor.execute("INSERT INTO dados_profissionais VALUES(2,'geografia', 'orientador', 2850.8, 1)") 
cursor.execute("INSERT INTO dados_profissionais VALUES(3,'historia', 'orientador', 3200.45, 1)") 
cursor.execute("INSERT INTO dados_profissionais VALUES(4,'física', 'professor', 1890.33, 2)") 

conn.commit()

In [ ]:
cursor.execute("SELECT * FROM dados_profissionais")
cursor.fetchall()

------
# Exercício 2
Usando a tabela dados profissionais, escreva uma query que retorne todos os campos da tabela ordenando-os pela coluna tempo de casa, de maneira decrescente.

In [ ]:
cursor.execute("SELECT * FROM dados_profissionais ORDER BY tempo_casa DESC")
cursor.fetchall()

------
# Exercício 3
Conte a quantidade de funcionários dessa empresa;

In [ ]:
cursor.execute("SELECT COUNT(*) FROM dados_profissionais")
cursor.fetchall()

------
# Exercício 4
Usando a tabela dados cadastrais, escreva uma query que liste apenas os funcionários que possuem sobrenome "silva", ordenados pelo nome completo, ou seja, nome e sobrenome.

In [ ]:
cursor.execute("SELECT * FROM dados_cadastrais WHERE sobrenome='silva' ORDER BY nome AND sobrenome")
cursor.fetchall()

------
# Exercício 5
Escreva uma query que liste o valor da folha de pagamento dessa empresa por cargo, usando a tabela dados_profissionais. (Ou seja, somar os salários em cada cargo).

In [ ]:
cursor.execute("SELECT SUM(salario), cargo FROM dados_profissionais GROUP BY cargo" )
cursor.fetchall()