## Váriáveis

- Como definir variáveis em Python (Aula de variáveis);

In [1]:
nome = "Cícero" #definção de variáveis sempre com nome = valor (o "=" é chamado de operador de atribuição)

In [2]:
idade = 28

In [3]:
altura = 1.68

In [4]:
e_matematica = True

In [5]:
nome = "Cícero"
idade = 28
altura = 1.68
e_matematica = True

### Como sabemos o valor que gravamos na variável?

In [6]:
nome

'Cícero'

In [7]:
altura

1.68

In [9]:
nome # se colocarmos as duas variáveis em um bloco ele mostrará apenas o valor da última 
altura

1.68

In [10]:
nome, altura #podemos colocar dessa forma

('Cícero', 1.68)

In [11]:
print(nome)
print(altura)

Cícero
1.68

In [14]:
print("O valor da variável nome é:", nome)

O valor da variável nome é: Cícero

### E como sabemos o tipo de variável?
- Para isso usamos a função type();

In [15]:
type(nome)

str

In [16]:
type(idade)

int

In [17]:
type(altura)

float

In [18]:
type(e_matematica)

bool

### Conversão de tipos
- Supondo que agora queremos não apenas dizer os anos, mas os anos e meses, então poderiamos escrever por ex: 28.2, 28 anos e 2 meses

In [19]:
type(idade) #queremos converter o valor int para float

int

In [20]:
float(idade) #aqui ainda não convertemos!!

28.0

In [21]:
type(idade)

int

In [22]:
idade = float(idade)

In [23]:
type(idade)

float

In [24]:
type(nome)

str

In [26]:
float(nome) # não conseguimos covnerter por exemplo, uma string em um float.

ValueError: could not convert string to float: 'Cícero'

In [27]:
float(e_matematica) #true = 1, false = 0

1.0

### Sobrescrevendo o valor de uma variável

In [29]:
altura

1.68

In [31]:
altura = "ola"

In [32]:
altura

'ola'

#importante cuidar disso quando estiver fazendo códigos. Pode-se perder o valor de uma variável